    <!--begin::Layout-->
    <div class="d-flex flex-column flex-xl-row">
        <!--begin::Content-->
        <div class="d-flex flex-row-fluid me-xl-12 mb-12 mb-xl-12">
            <!--begin::Pos food-->
            <div class="card card-flush card-p-0 bg-transparent border-0">
                <!--begin::Body-->
                <div class="card-body">
                    <!--begin::Nav-->
                    <ul class="nav nav-pills d-flex justify-content-between nav-pills-custom gap-3 mb-6">
                         <!--begin::Item-->
                         <li class="nav-item mb-3 me-0">
                            <!--begin::Nav link-->
                            <a class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack pt-9 pb-7 page-bg show active" data-bs-toggle="pill" href="#kt_pos_food_content_0" style="width: 138px;height: 180px">
                                <!--begin::Icon-->
                                <div class="nav-icon mb-3">
                                    <!--begin::Food icon-->
                                    <img src="media/svg/poi/puzzle.svg" class="w-50px" alt="" />
                                    <!--end::Food icon-->
                                </div>
                                <!--end::Icon-->
                                <!--begin::Info-->
                                <div class="">
                                    <span class="text-gray-800 fw-bold fs-6 d-block">Tout<br><br></span>
                                    <span class="text-gray-500 fw-semibold fs-8">8 Options</span>
                                </div>
                                <!--end::Info-->
                            </a>
                            <!--end::Nav link-->
                        </li>
                        <!--end::Item-->                       
                        <!--begin::Item-->
                        <li class="nav-item mb-3 me-0">
                            <!--begin::Nav link-->
                            <a class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack pt-9 pb-7 page-bg " data-bs-toggle="pill" href="#kt_pos_food_content_1" style="width: 138px;height: 160px">
                                <!--begin::Icon-->
                                <div class="nav-icon mb-3">
                                    <!--begin::Food icon-->
                                    <img src="media/svg/poi/professional-services.svg" class="w-50px" alt="" />
                                    <!--end::Food icon-->
                                </div>
                                <!--end::Icon-->
                                <!--begin::Info-->
                                <div class="">
                                    <span class="text-gray-800 fw-bold fs-6 d-block">Services pour les particuliers</span>
                                    <!--<span class="text-gray-500 fw-semibold fs-8">8 Options</span>-->
                                </div>
                                <!--end::Info-->
                            </a>
                            <!--end::Nav link-->
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="nav-item mb-3 me-0">
                            <!--begin::Nav link-->
                            <a class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack pt-9 pb-7 page-bg" data-bs-toggle="pill" href="#kt_pos_food_content_2" style="width: 138px;height: 180px">
                                <!--begin::Icon-->
                                <div class="nav-icon mb-3">
                                    <!--begin::Food icon-->
                                    <img src="media/svg/poi/store.svg" class="w-50px" alt="" />
                                    <!--end::Food icon-->
                                </div>
                                <!--end::Icon-->
                                <!--begin::Info-->
                                <div class="">
                                    <span class="text-gray-800 fw-bold fs-6 d-block">Commerces<br><br></span>
                                    <span class="text-gray-500 fw-semibold fs-8">14 Salads</span>
                                </div>
                                <!--end::Info-->
                            </a>
                            <!--end::Nav link-->
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="nav-item mb-3 me-0">
                            <!--begin::Nav link-->
                            <a class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack pt-9 pb-7 page-bg" data-bs-toggle="pill" href="#kt_pos_food_content_3" style="width: 138px;height: 180px">
                                <!--begin::Icon-->
                                <div class="nav-icon mb-3">
                                    <!--begin::Food icon-->
                                    <img src="media/svg/poi/lesson.svg" class="w-50px" alt="" />
                                    <!--end::Food icon-->
                                </div>
                                <!--end::Icon-->
                                <!--begin::Info-->
                                <div class="">
                                    <span class="text-gray-800 fw-bold fs-6 d-block">Enseignement<br><br></span>
                                    <span class="text-gray-500 fw-semibold fs-8">5 Burgers</span>
                                </div>
                                <!--end::Info-->
                            </a>
                            <!--end::Nav link-->
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="nav-item mb-3 me-0">
                            <!--begin::Nav link-->
                            <a class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack pt-9 pb-7 page-bg" data-bs-toggle="pill" href="#kt_pos_food_content_4" style="width: 138px;height: 180px">
                                <!--begin::Icon-->
                                <div class="nav-icon mb-3">
                                    <!--begin::Food icon-->
                                    <img src="media/svg/poi/community.svg" class="w-50px" alt="" />
                                    <!--end::Food icon-->
                                </div>
                                <!--end::Icon-->
                                <!--begin::Info-->
                                <div class="">
                                    <span class="text-gray-800 fw-bold fs-6 d-block">Santé et action sociale</span>
                                    <span class="text-gray-500 fw-semibold fs-8">7 Beverages</span>
                                </div>
                                <!--end::Info-->
                            </a>
                            <!--end::Nav link-->
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="nav-item mb-3 me-0">
                            <!--begin::Nav link-->
                            <a class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack pt-9 pb-7 page-bg" data-bs-toggle="pill" href="#kt_pos_food_content_5" style="width: 138px;height: 180px">
                                <!--begin::Icon-->
                                <div class="nav-icon mb-3">
                                    <!--begin::Food icon-->
                                    <img src="media/svg/poi/bus.svg" class="w-50px" alt="" />
                                    <!--end::Food icon-->
                                </div>
                                <!--end::Icon-->
                                <!--begin::Info-->
                                <div class="">
                                    <span class="text-gray-800 fw-bold fs-6 d-block">Transports et déplacements</span>
                                    <span class="text-gray-500 fw-semibold fs-8">8 Desserts</span>
                                </div>
                                <!--end::Info-->
                            </a>
                            <!--end::Nav link-->
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="nav-item mb-3 me-0">
                            <!--begin::Nav link-->
                            <a class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack pt-9 pb-7 page-bg" data-bs-toggle="pill" href="#kt_pos_food_content_5" style="width: 138px;height: 180px">
                                <!--begin::Icon-->
                                <div class="nav-icon mb-3">
                                    <!--begin::Food icon-->
                                    <img src="media/svg/poi/basketball.svg" class="w-50px" alt="" />
                                    <!--end::Food icon-->
                                </div>
                                <!--end::Icon-->
                                <!--begin::Info-->
                                <div class="">
                                    <span class="text-gray-800 fw-bold fs-6 d-block">Sports, loisirs et culture</span>
                                    <span class="text-gray-500 fw-semibold fs-8">8 Desserts</span>
                                </div>
                                <!--end::Info-->
                            </a>
                            <!--end::Nav link-->
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="nav-item mb-3 me-0">
                            <!--begin::Nav link-->
                            <a class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack pt-9 pb-7 page-bg" data-bs-toggle="pill" href="#kt_pos_food_content_5" style="width: 138px;height: 180px">
                                <!--begin::Icon-->
                                <div class="nav-icon mb-3">
                                    <!--begin::Food icon-->
                                    <img src="media/svg/poi/travel.svg" class="w-50px" alt="" />
                                    <!--end::Food icon-->
                                </div>
                                <!--end::Icon-->
                                <!--begin::Info-->
                                <div class="">
                                    <span class="text-gray-800 fw-bold fs-6 d-block">Tourisme<br><br></span>
                                    <span class="text-gray-500 fw-semibold fs-8">8 Desserts</span>
                                </div>
                                <!--end::Info-->
                            </a>
                            <!--end::Nav link-->
                        </li>
                        <!--end::Item-->
                    </ul>
                    <!--end::Nav-->

                </div>
                <!--end: Card Body-->
            </div>
            <!--end::Pos food-->
           
        </div>
        <!--end::Content-->
    </div>
    <!--end::Layout-->
<div class="tab-content">
    <div class="tab-pane fade show active" id="kt_pos_food_content_0">
        <!--begin::Row-->
<div class="row mw-500px mb-5" data-kt-buttons="true" data-kt-buttons-target=".form-check-image, .form-check-input">
    <!--begin::Col-->
    <div class="col-4">
        <label class="form-check-image active">
 
            <div class="form-check form-check-custom form-check-solid">
                <input class="form-check-input" type="checkbox" checked value="1" name="option2"/>
                <div class="form-check-label">
                    Police
                </div>
            </div>
        </label>
    </div>
    <!--end::Col-->

    <!--begin::Col-->
    <div class="col-4">
        <label class="form-check-image">
            <div class="form-check-wrapper">
                <img src="media/stock/600x400/img-2.jpg"/>
            </div>

            <div class="form-check form-check-custom form-check-solid me-10">
                <input class="form-check-input" type="checkbox" value="1" name="option2" id="text_wow"/>
                <div class="form-check-label">
                    Option 2
                </div>
            </div>
        </label>
    </div>
    <!--end::Col-->

    <!--begin::Col-->
    <div class="col-4">
        <label class="form-check-image">
            <div class="form-check-wrapper">
                <img src="media/stock/600x400/img-3.jpg"/>
            </div>

            <div class="form-check form-check-custom form-check-solid me-10">
                <input class="form-check-input" type="checkbox" value="1" name="option2"/>
                <div class="form-check-label">
                    Option 3
                </div>
            </div>
        </label>
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->
    </div>

    <div class="tab-pane fade  " id="kt_pos_food_content_1">
        <!--begin::Row-->
        <div class="row gy-5 gx-xl-12">
            <!--begin::Col-->
            <div class="col-xxl-12">
                <!--begin::Table widget 1-->
                <div class="card card-flush mb-xxl-10">
                    <!--begin::Header-->
                    <div class="card-header pt-5">
                        <!--begin::Title-->
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bold text-gray-900">Services publics</span>
                            <!--<span class="text-gray-500 pt-2 fw-semibold fs-6">XX options</span>-->
                        </h3>
                        <!--end::Title-->
                        <!--begin::Toolbar-->
                        <div class="card-toolbar">
                        </div>
                        <!--end::Toolbar-->
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body" style="padding-top: 1rem;">
                        <!--begin::Nav-->
                        <ul class="nav nav-pills nav-pills-custom mb-3">
                            <!--begin::Item-->
                            <li class="nav-item mb-3 me-3 me-lg-6">
                                <!--begin::Link-->
                                <a class="nav-link d-flex justify-content-between flex-column flex-center overflow-hidden active w-80px h-85px py-4" data-bs-toggle="pill" href="#kt_stats_widget_1_tab_1">
                                    <!--begin::Icon-->
                                    <div class="nav-icon">
                                        <img alt="" src="media/svg/poi/subs/policeman.svg" class="" />
                                    </div>
                                    <!--end::Icon-->
                                    <!--begin::Subtitle-->
                                    <span class="nav-text text-gray-700 fw-bold fs-8 lh-1">Police</span>
                                    <!--end::Subtitle-->
                                    <!--begin::Bullet-->
                                    <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                                    <!--end::Bullet-->
                                </a>
                                <!--end::Link-->
                            </li>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <li class="nav-item mb-3 me-3 me-lg-6">
                                <!--begin::Link-->
                                <a class="nav-link d-flex justify-content-between flex-column flex-center overflow-hidden w-100px h-85px py-4" data-bs-toggle="pill" href="#kt_stats_widget_1_tab_2">
                                    <!--begin::Icon-->
                                    <div class="nav-icon">
                                        <img alt="Logo" src="media/svg/brand-logos/amazon.svg" class="theme-light-show" />
                                        <img alt="Logo" src="media/svg/brand-logos/amazon-dark.svg" class="theme-dark-show" />
                                    </div>
                                    <!--end::Icon-->
                                    <!--begin::Subtitle-->
                                    <span class="nav-text text-gray-700 fw-bold fs-8 lh-1">Gendarmerie</span>
                                    <!--end::Subtitle-->
                                    <!--begin::Bullet-->
                                    <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                                    <!--end::Bullet-->
                                </a>
                                <!--end::Link-->
                            </li>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <li class="nav-item mb-3 me-3 me-lg-6">
                                <!--begin::Link-->
                                <a class="nav-link d-flex justify-content-between flex-column flex-center overflow-hidden w-120px h-85px py-4" data-bs-toggle="pill" href="#kt_stats_widget_1_tab_3">
                                    <!--begin::Icon-->
                                    <div class="nav-icon">
                                        <img alt="" src="media/svg/brand-logos/bp-2.svg" class="" />
                                    </div>
                                    <!--end::Icon-->
                                    <!--begin::Subtitle-->
                                    <span class="nav-text text-gray-600 fw-bold fs-8 lh-1">Cour d’appel (CA)</span>
                                    <!--end::Subtitle-->
                                    <!--begin::Bullet-->
                                    <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                                    <!--end::Bullet-->
                                </a>
                                <!--end::Link-->
                            </li>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <li class="nav-item mb-3 me-3 me-lg-6">
                                <!--begin::Link-->
                                <a class="nav-link d-flex justify-content-between flex-column flex-center overflow-hidden w-80px h-85px py-4" data-bs-toggle="pill" href="#kt_stats_widget_1_tab_4">
                                    <!--begin::Icon-->
                                    <div class="nav-icon">
                                        <img alt="" src="media/svg/brand-logos/slack-icon.svg" class="nav-icon" />
                                    </div>
                                    <!--end::Icon-->
                                    <!--begin::Subtitle-->
                                    <span class="nav-text text-gray-600 fw-bold fs-6 lh-1">Slack</span>
                                    <!--end::Subtitle-->
                                    <!--begin::Bullet-->
                                    <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                                    <!--end::Bullet-->
                                </a>
                                <!--end::Link-->
                            </li>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <li class="nav-item mb-3 me-3 me-lg-6">
                                <!--begin::Link-->
                                <a class="nav-link d-flex justify-content-between flex-column flex-center overflow-hidden w-80px h-70px py-4" data-bs-toggle="pill" href="#kt_stats_widget_1_tab_4">
                                    <!--begin::Icon-->
                                    <div class="nav-icon">
                                        <img alt="" src="media/svg/brand-logos/slack-icon.svg" class="nav-icon" />
                                    </div>
                                    <!--end::Icon-->
                                    <!--begin::Subtitle-->
                                    <span class="nav-text text-gray-600 fw-bold fs-6 lh-1">Slack</span>
                                    <!--end::Subtitle-->
                                    <!--begin::Bullet-->
                                    <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                                    <!--end::Bullet-->
                                </a>
                                <!--end::Link-->
                            </li>
                            <!--end::Item-->                            
                        </ul>
                        <!--end::Nav-->
                        <!--begin::Tab Content-->
                        <div class="tab-content">
                            <!--begin::Tap pane-->
                            <div class="tab-pane fade show active" id="kt_stats_widget_1_tab_1">
                                <!--begin::Table container-->
                                <div class="table-responsive">
                                    <!--begin::Table-->
                                    <table class="table align-middle gs-0 gy-4 my-0">
                                        <!--begin::Table head-->
                                        <thead>
                                            <tr class="fs-7 fw-bold text-gray-500">
                                                <th class="p-0 min-w-150px d-block pt-3">EMAIL TITLE</th>
                                                <th class="text-end min-w-140px pt-3">STATUS</th>
                                                <th class="pe-0 text-end min-w-120px pt-3">CONVERSION</th>
                                            </tr>
                                        </thead>
                                        <!--end::Table head-->
                                        <!--begin::Table body-->
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Best Rated Headsets of 2022</a>
                                                </td>
                                                <td class="text-end">
                                                    <span class="badge badge-light-success fs-7 fw-bold">Sent</span>
                                                </td>
                                                <td class="text-end">
                                                    <span class="text-gray-800 fw-bold d-block fs-6">18%(6.4k)</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">New Model BS 2000 X</a>
                                                </td>
                                                <td class="text-end">
                                                    <span class="badge badge-light-primary fs-7 fw-bold">In Draft</span>
                                                </td>
                                                <td class="text-end">
                                                    <span class="text-gray-800 fw-bold d-block fs-6">0.01%(1)</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">2022 Spring Conference by Beats</a>
                                                </td>
                                                <td class="text-end">
                                                    <span class="badge badge-light-success fs-7 fw-bold">Sent</span>
                                                </td>
                                                <td class="text-end">
                                                    <span class="text-gray-800 fw-bold d-block fs-6">37%(247)</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Best Headsets Giveaway</a>
                                                </td>
                                                <td class="text-end">
                                                    <span class="badge badge-light-warning fs-7 fw-bold">In Queue</span>
                                                </td>
                                                <td class="text-end">
                                                    <span class="text-gray-800 fw-bold d-block fs-6">0%(0)</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <!--end::Table body-->
                                    </table>
                                    <!--end::Table-->
                                </div>
                                <!--end::Table container-->
                            </div>
                            <!--end::Tap pane-->
                            <!--begin::Tap pane-->
                            <div class="tab-pane fade" id="kt_stats_widget_1_tab_2">
                                <!--begin::Table container-->
                                <div class="table-responsive">
                                    <!--begin::Table-->
                                    <table class="table align-middle gs-0 gy-4 my-0">
                                        <!--begin::Table head-->
                                        <thead>
                                            <tr class="fs-7 fw-bold text-gray-500">
                                                <th class="p-0 min-w-150px d-block pt-3">EMAIL TITLE</th>
                                                <th class="text-end min-w-140px pt-3">STATUS</th>
                                                <th class="pe-0 text-end min-w-120px pt-3">CONVERSION</th>
                                            </tr>
                                        </thead>
                                        <!--end::Table head-->
                                        <!--begin::Table body-->
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">2022 Spring Conference by Beats</a>
                                                </td>
                                                <td class="text-end">
                                                    <span class="badge badge-light-success fs-7 fw-bold">Sent</span>
                                                </td>
                                                <td class="text-end">
                                                    <span class="text-gray-800 fw-bold d-block fs-6">37%(247)</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Best Headsets Giveaway</a>
                                                </td>
                                                <td class="text-end">
                                                    <span class="badge badge-light-warning fs-7 fw-bold">In Queue</span>
                                                </td>
                                                <td class="text-end">
                                                    <span class="text-gray-800 fw-bold d-block fs-6">0%(0)</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Best Rated Headsets of 2022</a>
                                                </td>
                                                <td class="text-end">
                                                    <span class="badge badge-light-success fs-7 fw-bold">Sent</span>
                                                </td>
                                                <td class="text-end">
                                                    <span class="text-gray-800 fw-bold d-block fs-6">18%(6.4k)</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">New Model BS 2000 X</a>
                                                </td>
                                                <td class="text-end">
                                                    <span class="badge badge-light-primary fs-7 fw-bold">In Draft</span>
                                                </td>
                                                <td class="text-end">
                                                    <span class="text-gray-800 fw-bold d-block fs-6">0.01%(1)</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <!--end::Table body-->
                                    </table>
                                    <!--end::Table-->
                                </div>
                                <!--end::Table container-->
                            </div>
                            <!--end::Tap pane-->
                            <!--begin::Tap pane-->
                            <div class="tab-pane fade" id="kt_stats_widget_1_tab_3">
                                <!--begin::Table container-->
                                <div class="table-responsive">
                                    <!--begin::Table-->
                                    <table class="table align-middle gs-0 gy-4 my-0">
                                        <!--begin::Table head-->
                                        <thead>
                                            <tr class="fs-7 fw-bold text-gray-500">
                                                <th class="p-0 min-w-150px d-block pt-3">EMAIL TITLE</th>
                                                <th class="text-end min-w-140px pt-3">STATUS</th>
                                                <th class="pe-0 text-end min-w-120px pt-3">CONVERSION</th>
                                            </tr>
                                        </thead>
                                        <!--end::Table head-->
                                        <!--begin::Table body-->
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">New Model BS 2000 X</a>
                                                </td>
                                                <td class="text-end">
                                                    <span class="badge badge-light-primary fs-7 fw-bold">In Draft</span>
                                                </td>
                                                <td class="text-end">
                                                    <span class="text-gray-800 fw-bold d-block fs-6">0.01%(1)</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Best Rated Headsets of 2022</a>
                                                </td>
                                                <td class="text-end">
                                                    <span class="badge badge-light-success fs-7 fw-bold">Sent</span>
                                                </td>
                                                <td class="text-end">
                                                    <span class="text-gray-800 fw-bold d-block fs-6">18%(6.4k)</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">2022 Spring Conference by Beats</a>
                                                </td>
                                                <td class="text-end">
                                                    <span class="badge badge-light-success fs-7 fw-bold">Sent</span>
                                                </td>
                                                <td class="text-end">
                                                    <span class="text-gray-800 fw-bold d-block fs-6">37%(247)</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Best Headsets Giveaway</a>
                                                </td>
                                                <td class="text-end">
                                                    <span class="badge badge-light-warning fs-7 fw-bold">In Queue</span>
                                                </td>
                                                <td class="text-end">
                                                    <span class="text-gray-800 fw-bold d-block fs-6">0%(0)</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <!--end::Table body-->
                                    </table>
                                    <!--end::Table-->
                                </div>
                                <!--end::Table container-->
                            </div>
                            <!--end::Tap pane-->
                            <!--begin::Tap pane-->
                            <div class="tab-pane fade" id="kt_stats_widget_1_tab_4">
                                <!--begin::Table container-->
                                <div class="table-responsive">
                                    <!--begin::Table-->
                                    <table class="table align-middle gs-0 gy-4 my-0">
                                        <!--begin::Table head-->
                                        <thead>
                                            <tr class="fs-7 fw-bold text-gray-500">
                                                <th class="p-0 min-w-150px d-block pt-3">EMAIL TITLE</th>
                                                <th class="text-end min-w-140px pt-3">STATUS</th>
                                                <th class="pe-0 text-end min-w-120px pt-3">CONVERSION</th>
                                            </tr>
                                        </thead>
                                        <!--end::Table head-->
                                        <!--begin::Table body-->
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Best Headsets Giveaway</a>
                                                </td>
                                                <td class="text-end">
                                                    <span class="badge badge-light-warning fs-7 fw-bold">In Queue</span>
                                                </td>
                                                <td class="text-end">
                                                    <span class="text-gray-800 fw-bold d-block fs-6">0%(0)</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Best Headsets Giveaway</a>
                                                </td>
                                                <td class="text-end">
                                                    <span class="badge badge-light-success fs-7 fw-bold">Sent</span>
                                                </td>
                                                <td class="text-end">
                                                    <span class="text-gray-800 fw-bold d-block fs-6">37%(247)</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">Best Rated Headsets of 2022</a>
                                                </td>
                                                <td class="text-end">
                                                    <span class="badge badge-light-success fs-7 fw-bold">Sent</span>
                                                </td>
                                                <td class="text-end">
                                                    <span class="text-gray-800 fw-bold d-block fs-6">18%(6.4k)</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="text-gray-800 fw-bold text-hover-primary mb-1 fs-6">New Model BS 2000 X</a>
                                                </td>
                                                <td class="text-end">
                                                    <span class="badge badge-light-primary fs-7 fw-bold">In Draft</span>
                                                </td>
                                                <td class="text-end">
                                                    <span class="text-gray-800 fw-bold d-block fs-6">0.01%(1)</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <!--end::Table body-->
                                    </table>
                                    <!--end::Table-->
                                </div>
                                <!--end::Table container-->
                            </div>
                            <!--end::Tap pane-->
                        </div>
                        <!--end::Tab Content-->
                    </div>
                    <!--end: Card Body-->
                </div>
                <!--end::Table widget 1-->
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
    </div>

    <div class="tab-pane fade  " id="kt_pos_food_content_2">
        <!--begin::Row-->
        <div class="row gy-5 gx-xl-12">
            <!--begin::Col-->
            <div class="col-xxl-12">
                <!--begin::Table widget 1-->
                <div class="card card-flush mb-xxl-10">
                    <!--begin::Header-->
                    <div class="card-header pt-5">
                        <!--begin::Title-->
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bold text-gray-900">Services publics</span>
                            <!--<span class="text-gray-500 pt-2 fw-semibold fs-6">XX options</span>-->
                        </h3>
                        <!--end::Title-->
                        <!--begin::Toolbar-->
                        <div class="card-toolbar">
                        </div>
                        <!--end::Toolbar-->
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body">
                        <!--begin::Row-->
                        <div class="row mw-500px mb-5" data-kt-buttons="true" data-kt-buttons-target=".form-check-image, .form-check-input">
                            <!--begin::Col-->
                            <div class="col-4">
                                <label class="form-check-image active">
                        
                                    <div class="form-check form-check-custom form-check-solid">
                                        <input class="form-check-input" type="checkbox" checked value="1" name="option2"/>
                                        <div class="form-check-label">
                                            Police
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <!--end::Col-->
                        
                            <!--begin::Col-->
                            <div class="col-4">
                                <label class="form-check-image">

                                    <div class="form-check form-check-custom form-check-solid me-10">
                                        <input class="form-check-input" type="checkbox" value="1" name="option2" id="text_wow"/>
                                        <div class="form-check-label">
                                            Option 2
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <!--end::Col-->
                        
                            <!--begin::Col-->
                            <div class="col-4">
                                <label class="form-check-image">

                                    <div class="form-check form-check-custom form-check-solid me-10">
                                        <input class="form-check-input" type="checkbox" value="1" name="option2"/>
                                        <div class="form-check-label">
                                            Option 3
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end: Card Body-->
                </div>
                <!--end::Table widget 1-->
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
    </div>


    <div class="tab-pane fade  " id="kt_pos_food_content_3">3</div>
    <div class="tab-pane fade  " id="kt_pos_food_content_4">4</div>
    <div class="tab-pane fade  " id="kt_pos_food_content_5">5</div>
</div>
